<script setup lang="ts">
import { ref, onBeforeMount } from 'vue'
import { storeToRefs } from 'pinia'
import { useUserStore } from '@/store'
import { useRouter } from 'vue-router'
import { BaseInput, BaseBtn } from '@/components/base'
import { User, Role } from '@/models'
import { TypeAvatar } from '@/types'

const userStore = useUserStore()
const router = useRouter()

let name = ref<string>('')
let email = ref<string>('')
let roles = ref<Role[]>([])
let avatar = ref<TypeAvatar | {}>({})
let password = ref<string>('')
let passwordConfirm = ref<string>('')

const { allRoles } = storeToRefs(userStore)

function fileChange(event: Event) {

  const input = event.target as HTMLInputElement;

  if (!input.files?.length) return;

  avatar.value = {
    name: input.files[0].name,
    data: input.files[0],
  }
}

function submitPost() {
  const formData = new FormData()

  const avatarValue = avatar.value as TypeAvatar;

  const rolesToSend = JSON.stringify(roles.value.map((role: Role) => role.id))

  if (avatarValue.data) {
    formData.append('avatar', avatarValue.data, avatarValue.name)
  }
  formData.append('name', name.value)
  formData.append('email', email.value)
  formData.append('roles', rolesToSend)
  formData.append('password', password.value)
  formData.append('password_confirmation', passwordConfirm.value)

  const payload = {
    data: formData,
  }

  userStore.postUser(payload)
  router.push({ name: 'Users' })
}

onBeforeMount(() => {
    userStore.getRoles()
})
</script>

<template>
    <transition name="fade" mode="out-in">
        <form
            @submit.prevent="submitPost"
            class="my-4"
        >
            <BaseInput
                type="text"
                label="Name"
                name="name"
                v-model="name"
                placeholder="Your name"
                class="mb-2"
            />
            <BaseInput
                type="email"
                label="Email"
                name="email"
                v-model="email"
                placeholder="Your email"
                class="mb-2"
            />
            <BaseInput
                type="password"
                label="Password"
                name="password"
                v-model="password"
                placeholder="Your password"
                class="mb-2"
            />
            <BaseInput
                type="password"
                label="Confirm Password"
                name="password-confirm"
                v-model="passwordConfirm"
                placeholder="Confirm your password"
                class="mb-4"
            />
            <div class="mb-4">
                <label for="file" class="sr-only">
                    Avatar
                </label>
                <input type="file" accept="image/*" @change="fileChange" id="file" />
            </div>
            <div
                v-for="role in allRoles"
                :key="role.id"
            >
                <input
                    v-model="roles"
                    type="checkbox"
                    :value="role.name"
                    :id="`${role.id}`"
                />
                <label :for="`${role.id}`">{{ role }}</label>
            </div>
            <BaseBtn type="submit" text="Create" />
        </form>
    </transition>
</template>
