<script setup lang="ts">
import { useAttrs } from 'vue'

type TypeButton = 'submit' | 'button' | 'reset' | undefined;
const attrs = useAttrs()

attrs.inheritAttrs = true

defineProps({
    type: {
        type: String as () => TypeButton,
        default: 'submit',
    },
    text: {
        type: String,
        default: 'Submit',
    }
})
</script>

<template>
    <button
        :type="type"
        v-bind="$attrs"
        class="px-2.5 py-1.5 border border-transparent text-xs rounded shadow-sm text-white bg-blue-400 hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 text-center transition"
    >
        {{ text }}
    </button>
</template>
