<script setup lang="ts">
import { ref } from 'vue'
import formatError, { ErrorFormated, isErrorResponse } from "@/utils/formatError"
import useFileService from "@/composables/FileService"
import { BaseBtn, FlashMessage } from "@/components/base"
import { Message } from '@/models'

const fileService = useFileService()

const props = defineProps({
  fileTypes: {
    type: Array as () => string[],
    default: null,
  },
  endpoint: {
    type: String,
    required: true,
  },
  label: {
    type: String,
    default: "",
  },
})

const emit = defineEmits(['file-uploaded'])

const file = ref<File | null>(null)
const message = ref<Message | null>(null)
const error = ref<ErrorFormated | null>(null)

function clearMessage() {
  error.value = null
  message.value = null
}

function fileChange(event: Event) {
  const input = event.target as HTMLInputElement;
  clearMessage()
  if (!!input && !!input.files && input.files?.length > 0) {
    file.value = input?.files[0]
  }
}

async function uploadFile() {
  const formData = new FormData()
  formData.append('file', file.value as File)
  const payload = {
    file: formData,
    endpoint: props.endpoint,
  }
  clearMessage()
  const response = await fileService.uploadFile(payload)
  if (isErrorResponse(response)) {
    error.value = formatError(response)
  } else {
    message.value = {message: 'File uploaded.'}
    emit('file-uploaded')
  }
}
</script>

<template>
  <form @submit.prevent="uploadFile">
    <div class="mb-4">
      <label for="file" class="sr-only">
        {{ label }}
      </label>
      <input type="file" :accept="fileTypes.join(',')" @change="fileChange" id="file" />
    </div>
    <BaseBtn text="Upload" />
    <FlashMessage :message="message" :error="(error as ErrorFormated)" />
  </form>
</template>
