<script setup lang="ts">
import { computed } from 'vue';
import { Message } from '@/models';

const props = defineProps({
    message: {
      type: Object as () => Message | null,
      default: null,
    },
    error: {
      type: [String, Object],
      default: null,
    },
})

const errorKeys = computed(() => {
    if (!props.error || getType(props.error) === 'string') {
        return null
    }
    return Object.keys(props.error)
})

const titleCase = (value: string) => value.replace('_', ' ')

function getErrors(key: string) {
  if (props.error instanceof Object) {
    return props.error[key]
  }
}

function getType(obj: object | string) {
    return Object.prototype.toString.call(obj).slice(8, -1).toLowerCase()
}
</script>

<template>
    <div>
        <transition-group name="fade">
            <p
                v-if="message"
                key="message"
                class="mt-2 text-sm text-green-500"
            >
                {{ message.message }}
            </p>
            <p
                v-if="!!error && getType(error) === 'string'"
                key="error"
                class="mt-2 text-sm text-red-500"
            >
                {{ error }}
            </p>
            <ul
                v-if="!!error && getType(error) === 'object'"
                class="mt-2 text-sm text-red-500"
                key="error-list"
            >
                <li
                    v-for="key in errorKeys"
                    :key="key"
                >
                    <span class="font-bold capitalize">{{ titleCase(key) }}</span>
                    <ul class="ml-2">
                        <li v-for="(item, index) in getErrors(key)" :key="`${index}-error`">
                            {{ item }}
                        </li>
                    </ul>
                </li>
            </ul>
        </transition-group>
    </div>
</template>
