<script setup lang="ts">
import { ref } from 'vue'
import { storeToRefs } from 'pinia'
import { useRouter } from 'vue-router'
import { useAuthStore } from '@/store'
import formatError, { ErrorFormated } from '@/utils/formatError'
import useAuthService from '@/composables/AuthService'
import { BaseBtn, BaseInput, FlashMessage } from '@/components/base'
import { ErrorResponse } from '@/composables/fetch.js'

const router = useRouter()
const authStore = useAuthStore()
const authService = useAuthService()

let email = ref<string>('')
let password = ref<string>('')
let error = ref<ErrorFormated | null>(null)

async function login() {
  error.value = null
  const payload = {
    email: email.value,
    password: password.value,
  }
  try {
    await authService.login(payload)
    await authStore.getAuthUser()
    const { user } = storeToRefs(authStore)
    if (!!user) {
      authStore.setGuest('isNotGuest')
      router.push({ name: 'Dashboard' })
    } else {
      const _error = Error('Unable to fetch user after login, check your API settings.')
      _error.name = 'Fetch User'
      throw _error
    }
  } catch (err) {
    error.value = formatError(err as ErrorResponse)
  }
}
</script>

<template>
  <form @submit.prevent="login">
    <BaseInput type="email" label="Email" name="email" v-model="email" autocomplete="email" placeholder="Your email"
      class="mb-2" />
    <BaseInput type="password" label="Password" name="password" v-model="password" placeholder="Your password"
      class="mb-4" />
    <div class="flex justify-between">
      <BaseBtn type="submit" text="Login" />
      <router-link :to="{ name: 'ForgotPassword' }" class="text-sm base-link">
        Forgot your password?
      </router-link>
    </div>
    <FlashMessage :error="(error as ErrorFormated)" />
  </form>
</template>
