<script setup lang="ts">
import { ref } from 'vue'
import { useRouter } from 'vue-router'

import formatError, { ErrorFormated, isErrorResponse } from '@/utils/formatError'
import useAuthService from '@/composables/AuthService'
import { BaseBtn, BaseInput, FlashMessage } from '@/components/base'

const router = useRouter()
const authService = useAuthService()

let name = ref<string>('')
let email = ref<string>('')
let password = ref<string>('')
let passwordConfirm = ref<string>('')
let error = ref<ErrorFormated | null>(null)

async function registerUser() {
    error.value = null
    const payload = {
        name: name.value,
        email: email.value,
        password: password.value,
        password_confirmation: passwordConfirm.value
    }
    const response = await authService.register(payload)
    if (isErrorResponse(response)) {
      error.value = formatError(response)
    } else {
      await authService.getAuthUser()
      router.push({ name: 'Dashboard' })
    }
}
</script>

<template>
    <form @submit.prevent="registerUser">
        <BaseInput
            type="text"
            label="Name"
            name="name"
            v-model="name"
            placeholder="Your name"
            class="mb-2"
        />
        <BaseInput
            type="email"
            label="Email"
            name="email"
            v-model="email"
            placeholder="Your email"
            class="mb-2"
        />
        <BaseInput
            type="password"
            label="Password"
            name="password"
            v-model="password"
            placeholder="Your password"
            class="mb-2"
        />
        <BaseInput
            type="password"
            label="Confirm Password"
            name="password-confirm"
            v-model="passwordConfirm"
            placeholder="Confirm your password"
            class="mb-4"
        />
        <BaseBtn type="submit" text="Register" />
        <FlashMessage :error="(error as ErrorFormated)" />
    </form>
</template>
