<script setup lang="ts">
import { ref, computed } from 'vue'
import { storeToRefs } from 'pinia'
import { useAuthStore } from '@/store'
import formatError, { ErrorFormated, isErrorResponse } from '@/utils/formatError'
import useAuthService from '@/composables/AuthService'
import { BaseBtn, FlashMessage } from '@/components/base'
import { Message } from '@/models'

const storeAuth = useAuthStore()
const authService = useAuthService()

const error = ref<ErrorFormated | null>(null)
const message = ref<Message | null>(null)

const { user } = storeToRefs(storeAuth)

function sendVerification() {
    error.value = null
    message.value = null

    const payload = {
        user: user.value?.id
    }

    const response = authService.sendVerification(payload)
    if (isErrorResponse(response)) {
      error.value = formatError(response)
    } else {
      message.value = {message: 'Verification email sent.'}
    }
}
</script>

<template>
    <div>
        <form @submit.prevent="sendVerification">
            <BaseBtn type="submit" text="Verify Email" />
        </form>
        <FlashMessage :message="message" :error="(error as ErrorFormated)" />
    </div>
</template>
