<script setup lang="ts">
import { ref } from 'vue'
import formatError, { ErrorFormated, isErrorResponse } from '@/utils/formatError'
import useAuthService from '@/composables/AuthService'
import { BaseBtn, BaseInput, FlashMessage } from '@/components/base'
import { Message } from '@/models';

const authService = useAuthService()

const email = ref<string>('')
const error = ref<ErrorFormated | null>(null)
const message = ref<Message | null>(null)

async function forgotPassword() {
    error.value = null
    message.value = null

    const payload = {
        email: email.value,
    }

    const response = await authService.forgotPassword(payload)

    if (isErrorResponse(response)) {
      error.value = formatError(response)
    } else {
      message.value = {message: 'Reset password email sent.'}
    }
}
</script>

<template>
  <div class="max-w-sm p-5 m-auto">
    <h2 class="mb-4 text-xl font-bold text-center">Forgot Password</h2>
    <form
      @submit.prevent="forgotPassword"
      class="p-5 bg-white border rounded shadow"
    >
      <BaseInput
        type="email"
        label="Email"
        name="email"
        v-model="email"
        autocomplete="email"
        placeholder="Your email password"
        class="mb-4"
      />
      <BaseBtn type="submit" text="Send" />
    </form>
    <FlashMessage :message="message" :error="(error as ErrorFormated)" />
  </div>
</template>
