<template>
    <h2 class="text-2xl">Home page 5</h2>
    <pre v-if="user">{{ user }}</pre>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import useAuthService from '@/composables/AuthService'
import { useAuthStore } from '@/store'
import { User } from '@/models'

const authService = useAuthService()
const authStore = useAuthStore()

const user = ref<User|null>(null)

const API = async () => {

    const credentials = {
        email: 'john@example.com',
        password: 'password',
    }

    await authService.login(credentials)
    await authStore.getAuthUser()

    user.value = authStore.user
}

//API()

</script>
