<script setup lang="ts">
import RegisterForm from '@/components/auth/RegisterForm.vue'
</script>

<template>
    <div class="max-w-sm p-5 m-auto">
        <h2 class="mb-4 text-xl font-bold text-center">Register</h2>
        <RegisterForm class="p-5 bg-white border rounded shadow" />
    </div>
</template>
