<script setup lang="ts">
import { ref } from 'vue'
import { useRoute } from 'vue-router'

import formatError, { ErrorFormated, isErrorResponse } from "@/utils/formatError";
import useAuthService from "@/composables/AuthService";
import { BaseInput, BaseBtn, FlashMessage } from '@/components/base'
import { Message } from '@/models'

const route = useRoute()
const authService = useAuthService()

const email = ref<string>('')
const password = ref<string>('')
const passwordConfirm = ref<string>('')
const error = ref<ErrorFormated | null>(null)
const message = ref<Message | null>(null)

async function resetPassword() {
    error.value = null
    message.value = null

    const payload = {
        email: email.value,
        password: password.value,
        password_confirmation: passwordConfirm.value,
        toke: route.query.token as string,
    }

    const response = await authService.resetPassword(payload)

    if (isErrorResponse(response)) {
      error.value = formatError(response)
    } else {
      message.value = {message: 'Password Reseted.'}
    }
}
</script>

<template>
  <div class="max-w-sm p-5 m-auto">
    <h2 class="mb-4 text-xl font-bold text-center">Reset Password</h2>
    <form
      @submit.prevent="resetPassword"
      class="p-5 bg-white border rounded shadow"
    >
        <BaseInput
            type="email"
            label="Email"
            name="email"
            v-model="email"
            placeholder="Your email"
            class="mb-2"
        />
        <BaseInput
            type="password"
            label="Password"
            name="password"
            v-model="password"
            placeholder="Your new Password"
            class="mb-2"
        />
        <BaseInput
            type="password"
            label="Confirm Password"
            name="password-confirm"
            v-model="passwordConfirm"
            placeholder="Confirm your new Password"
            class="mb-4"
        />
        <BaseBtn type="submit" text="Reset Password" />
    </form>
    <FlashMessage :message="message" :error="(error as ErrorFormated)" />
  </div>
</template>
