<script setup lang="ts">
import { ref } from 'vue'
import { useMessageStore } from '@/store'
import formatError, { ErrorFormated, isErrorResponse } from '@/utils/formatError'
import { BaseBtn, BaseInput, FlashMessage } from './base'
import { Message } from '@/models'

const messageStore = useMessageStore()

const body = ref<string>('')
const error = ref<ErrorFormated | null>(null)

async function postMessage() {
  error.value = null
  const payload = {
      message: body.value,
  }

  await messageStore.postMessage(payload)
  body.value = ''
}
</script>

<template>
    <form @submit.prevent="postMessage">
        <BaseInput
            type="text"
            label="Message"
            name="message"
            v-model="body"
            class="mb-4"
        />
        <div class="flex justify-end mb-2">
            <BaseBtn type="submit" text="Message" />
        </div>
        <FlashMessage :error="error" v-if="error" />
    </form>
</template>
