<script setup lang="ts">
import { storeToRefs } from 'pinia'
import { useMessageStore } from '@/store'

import { BasePagination, FlashMessage } from './base'
import { AvatarIcon } from './icons'

const messageStore = useMessageStore()

const { loading, error, messages, meta, links } = storeToRefs(messageStore)

const currentPage = 1
messageStore.getMessages(currentPage)
</script>

<template>
  <div>
    <transition name="fade" mode="out-in">
      <FlashMessage :message="{ message: 'loading...' }" v-if="loading && !messages.length" key="loading" />
      <ul v-else>
        <li v-for="message in messages" :key="message.id" class="flex py-2 space-x-2 border-b">
          <div>
            <img v-if="message.user?.avatar" :src="message.user.avatar" class="w-10 h-10 rounded-full" alt="" />
            <AvatarIcon v-else class="w-10 h-10 text-gray-400 rounded-full" />
          </div>
          <div>
            <div class="flex space-x-2">
              <span class="font-bold">{{ message.user?.name }}</span>
              <span class="text-gray-400">{{ message.createdAt }}</span>
            </div>
            <div class="text-gray-600">{{ message.message }}</div>
          </div>
        </li>
      </ul>
    </transition>
    <transition name="fade">
      <FlashMessage :error="error" v-if="error" key="error" />
    </transition>
    <transition name="fade">
      <BasePagination
        :meta="meta"
        :links="(links as object)"
        :action="{ store: 'message', action: 'paginateMessages' }"
        v-if="!!meta && !!meta.last_page && meta.last_page > 1"
      />
    </transition>
  </div>
</template>
