<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { storeToRefs } from 'pinia'
import { useAuthStore } from '@/store'
import formatError, { ErrorFormated, isErrorResponse } from '@/utils/formatError'
import useAuthService from '@/composables/AuthService'
import { BaseBtn, BaseInput, FlashMessage } from '@/components/base'
import { Message } from '@/models'

const authStore = useAuthStore()
const authService = useAuthService()

const { user } = storeToRefs(authStore)
const name = ref<string>('')
const email = ref<string>('')
const error = ref<ErrorFormated | null>(null)
const message = ref<Message | null>(null)

onMounted(() => {
  name.value = user.value?.name as string
  email.value = user.value?.email as string
})

async function updateUser() {
  error.value = null
  message.value = null

  const payload = {
    name: name.value,
    email: email.value,
  }

  const response = await authService.updateUser(payload)
  if (isErrorResponse(response)) {
    error.value = formatError(response)
  } else {
    await authService.getAuthUser()
    message.value = {message: 'User updated.'}
  }
}
</script>

<template>
  <form @submit.prevent="updateUser">
    <BaseInput type="text" label="Name" name="name" v-model="name" placeholder="Your Name" class="mb-2" />
    <BaseInput type="email" label="Email" name="email" v-model="email" autocomplete="email" placeholder="Your email"
      class="mb-4" />
    <BaseBtn type="submit" text="Update" />
    <FlashMessage :message="message" :error="(error as ErrorFormated)" />
  </form>
</template>
