<script setup lang="ts">
import { ref, onBeforeMount } from 'vue'
import { storeToRefs } from 'pinia'
import { useRoleStore } from '@/store'
import { useRouter, useRoute } from 'vue-router'
import { BaseInput, BaseBtn } from '@/components/base'

const roleStore = useRoleStore()
const router = useRouter()
const route = useRoute()

let name = ref<string>('')
let permissions = ref<string[]>([])
let allPermissions = ref<string[]>([])

roleStore.$subscribe((_mutation, state) => {
    name.value = state.role?.name as string
    permissions.value = state.role?.permissions as string[]
    allPermissions.value = state.allPermissions
})

const { role, loading } = storeToRefs(roleStore)

function submitEdit() {
    const payload = {
        id: +route.params.id,
        name: name.value,
        permissions: permissions.value,
    }

    roleStore.updateRole(payload)
    router.push({ name: 'RolesId', params: { id: route.params.id } })
}

onBeforeMount(() => {
    roleStore.getRole(+route.params.id)
    roleStore.getPermissions()
})
</script>

<template>
    <transition name="fade" mode="out-in">
        <form
            v-if="!loading && role"
            @submit.prevent="submitEdit"
            class="my-4"
        >
            <BaseInput
                type="text"
                label="Name"
                name="name"
                v-model="name"
                placeholder="Role name"
                class="mb-2"
            />
            <div
                v-for="permission in allPermissions"
                :key="permission"
            >
                <input
                    v-model="permissions"
                    type="checkbox"
                    :value="permission"
                    :id="permission"
                />
                <label :for="permission">{{ permission }}</label>
            </div>
            <BaseBtn type="submit" text="Update" />
        </form>
    </transition>
</template>
