<script setup lang="ts">
import { ref } from 'vue'
import formatError, { ErrorFormated, isErrorResponse } from "@/utils/formatError"
import useAuthService from "@/composables/AuthService";
import { BaseBtn, BaseInput, FlashMessage } from "@/components/base"
import { Message } from '@/models'

const authService = useAuthService()

const currentPassword = ref<string>('')
const password = ref<string>('')
const passwordConfirm = ref<string>('')
const error = ref<ErrorFormated | null>(null)
const message = ref<Message | null>(null)

async function updatePassword() {
  error.value = null
  message.value = null

  const payload = {
    current_password: currentPassword.value,
    password: password.value,
    password_confirmation: passwordConfirm.value,
  }

  const response = await authService.updatePassword(payload)
  if (isErrorResponse(response)) {
    error.value = formatError(response)
  } else {
    message.value = { message: 'Password updated.' }
  }
}
</script>

<template>
  <form @submit.prevent="updatePassword">
    <BaseInput type="password" label="Current Password" name="current-password" v-model="currentPassword"
      placeholder="Your Current Password" class="mb-2" />
    <BaseInput type="password" label="New Password" name="password" v-model="password" placeholder="Your New Password"
      class="mb-2" />
    <BaseInput type="password" label="Confirm Password" name="password-confirm" v-model="passwordConfirm"
      placeholder="Confirm your new Password" class="mb-4" />
    <BaseBtn type="submit" text="Update" />
    <FlashMessage :message="message" :error="(error as ErrorFormated)" />
  </form>
</template>
