<script setup lang="ts">
import { ref, onBeforeMount } from 'vue'
import { storeToRefs } from 'pinia'
import { useUserStore } from '@/store'
import { useRouter, useRoute } from 'vue-router'
import { BaseInput, BaseBtn, FlashMessage } from '@/components/base'
import useUserService from '@/composables/UserService'
import { Role, Message } from '@/models'
import { TypeAvatar } from '@/types'

const userStore = useUserStore()
const userService = useUserService()
const router = useRouter()
const route = useRoute()

let name = ref<string>('')
let email = ref<string>('')
let roles = ref<Role[]>([])
let avatar = ref<TypeAvatar | {}>({})
let password = ref<string>('')
let passwordConfirm = ref<string>('')
let allRoles = ref<Role[]>([])

const { user, loading } = storeToRefs(userStore)

userStore.$subscribe((mutation, state) => {
  name.value = state.user?.name as string
  email.value = state.user?.email as string
  roles.value = state.user?.roles as Role[]
  allRoles.value = state.allRoles
})

function fileChange(event: Event) {
  const input = event.target as HTMLInputElement
  if (!input.files?.length) return;

  avatar.value = {
    name: input.files[0].name,
    data: input.files[0],
  }
}

async function submitEdit() {
  const formData = new FormData()

  const avatarValue = avatar.value as TypeAvatar

  if (avatarValue.data) {
    formData.append('avatar', avatarValue.data, avatarValue.name)
  }
  formData.append('name', name.value)
  formData.append('email', email.value)
  formData.append('roles', JSON.stringify(roles.value))
  formData.append('password', password.value)
  formData.append('password_confirmation', passwordConfirm.value)

  const payload = {
    id: route.params.id as string,
    data: formData,
  }

  userStore.updateUser(payload)
  router.push({ name: 'UsersId', params: { id: route.params.id } })
}

onBeforeMount(() => {
  userStore.getUser(+route.params.id)
  userStore.getRoles()
})
</script>

<template>
  <form v-if="!loading && user" @submit.prevent="submitEdit" class="my-4">
    <BaseInput type="text" label="Name" name="name" v-model="name" placeholder="Your name" class="mb-2" />
    <BaseInput type="email" label="Email" name="email" v-model="email" placeholder="Your email" class="mb-2" />
    <BaseInput type="password" label="Password" name="password" v-model="password" placeholder="Your password"
      class="mb-2" />
    <BaseInput type="password" label="Confirm Password" name="password-confirm" v-model="passwordConfirm"
      placeholder="Confirm your password" class="mb-4" />
    <div class="mb-4">
      <label for="file" class="sr-only">
        Avatar
      </label>
      <input type="file" accept="image/*" @change="fileChange" id="file" />
    </div>
    <div v-for="role in allRoles" :key="role.id">
      <input v-model="roles" type="checkbox" :value="role" :id="`${role.id}`" />
      <label :for="`${role.id}`">{{ role }}</label>
    </div>
    <BaseBtn type="submit" text="Update" />
  </form>
</template>
